
.navHeader {
    flex: 0 1 auto;
}

.mainContent {
    flex: 1 1 auto;
}

.mainFooter {
    flex: 0 1 auto;
}

.pageContainer {
    padding: unset;
    margin: unset;
    height: 100vh;
    flex-direction: column;
    display: flex;
}