.main-footer {
    color: wheat;
    background-color: darkolivegreen;
    text-align: center;
    padding-bottom: 10px;
}

.author-info-divider {
    margin: 2px 8px 0px;
}

.divider-margin {
    height: 1px;
}