.container {
    text-align: center;
}

.greetings {
    padding-top: 20px;
}

.leftPicture {
    height: 300px;
    padding-bottom: 15px;
}

.rightPicture {
    padding-top: 20px;
    height: 330px;
}