.content {
    margin: 24px;
}

.image {
    height: 300px;
}

.correctAnswerTitle {
    margin-left: 32px;
}

textarea {
    width: 400px;
    margin-left: 20px;
}

.imageUrlText {
    margin-left: 20px;
    width: 300px;
}

.answerTitle {
    margin-left: 36px;
    margin-bottom: 8px;
}