.content {
    margin: 24px;
}

.image {
    height: 300px;
}

.correctAnswerTitle {
    margin-left: 32px;
}

.question {
    margin-bottom: 36px;
}

textarea {
    width: 400px;
    margin-left: 20px;
}

.imageUrlText {
    margin-left: 20px;
    width: 300px;
}

.answerTitle {
    margin-left: 36px;
    margin-bottom: 8px;
}

.goBackButton {
    margin-top: 24px;
}

.answerLabel {
    font-size: 24px;
    margin: 12px;
}

.saveAnswerButton {
    margin-top: 18px;
    height: 50px;
    width: 250px;
}

.mainDiv {
    height: 100%;
}
.noHeight {
    height: 0;
}